.container {
  display: flex;
  height: 80vh;
  justify-content: center;
  text-align: center;
}

.character {
  border: 2px solid black;
  width: 50vw;
}

.image {
  width: 30vw;
  height: 30vw;
  object-fit: contain;
}